{% extends 'FrontendBundle:Shop:adminLayout.html.twig' %}

{% block body %}
<div id="backToList" onClick="document.location='{{ path('_createProduct') }}'">
    <img src="{{ 'bundles/volar/img/add.png' | imagine_filter('icon') }}"/> Agregar un producto
</div>
<div class="table">
    <table id="products" >
        <!--
        <thead>
            <tr>
                <td class="image" ></td>
                <td class="description" >
                    {% trans from "messages" %}
                        Shop.Forms.Product.shortDescription
                    {% endtrans %}
                </td>
                <td class="price" >
                    {% trans from "messages" %}
                        Shop.Forms.Product.price
                    {% endtrans %}
                </td>
                <td class="actions" ></td>
            </tr>
        </thead>
        -->
        <tbody>
        {% set i=0 %}
        {% for product in products %}
            {% set quantity=app.session.get('product_'~product.getId) %}
            <tr class="color{{ i % 2 }}">
                <td>
                    <a href="{{ path('_viewAdminProduct', {'id': product.getId}) }}"><img src="{{ attribute(images, product.getId)| imagine_filter('thumb') }}"/></a>
                </td>
                <td>
                    <a href="{{ path('_viewAdminProduct', {'id': product.getId}) }}">
                        {% set message = "product."~product.getId~".name" %}
                        <p>{{ message | trans({},"products") | raw }}</p>
                    </a>
                </td>
                <td>
                    <a href="{{ path('_viewAdminProduct', {'id': product.getId}) }}">
                        {% set message = "product."~product.getId~".shortDescription" %}
                        <p>{{ message | trans({},"products") | raw }}</p>
                    </a>
                </td>
                <td>
                    <p>{{ product.getPrice }} &euro;
                </td>
                <td>
                   <a href="{{ path('_delProduct', {'id': product.getId, '_locale': app.request.locale}) }}" alt="Eliminar"><img src="{{ 'bundles/volar/img/delete.png' | imagine_filter('icon') }}"/></a>
                   <a href="{{ path('_editProduct', {'id': product.getId, '_locale': app.request.locale}) }}" alt="Editar"><img src="{{ 'bundles/volar/img/edit.png' | imagine_filter('icon') }}"/></a>
                </td>
            </tr>      
            {% set i=i+1 %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
