    <head>
    <meta name="google-site-verification" content="ygR4OagTOlFYUQ62HkinSbuU6n5RFX_qrX5vFNRYvBU" />
    <title>Volarenparapente.com - {% trans %}Head.tittle{% endtrans %}</title>
    <META NAME="keywords" CONTENT="{% trans %}Head.keywords{% endtrans %}">
    <META NAME="description" CONTENT="{% trans %}Head.description{% endtrans %}">
    <meta http-equiv="Content-Language" content="{{ app.request.locale  }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="{{ asset('bundles/volar/js/swfobjects.js') }}"></script>

    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/volar/css/reset.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/volar/css/volarenparapente.css') }}" />
    </head>
